/* styles to task 03 */

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-item {
  max-width: 30%;
}
img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* styles to task 06 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
